// colors=================


// lights colors 
$whiteColor: #ffffff;
$bgColor: #fefaf3;
$valentinebgColor: #f7f7f7;
$valentinebgColorUp1:#f8f8f8; 
$blogbgcolor: #F8F8F8;
$footerlineColor: #ECEAE1;
// ===============================
// gray  mix colors
$secondaryColor: #6d6a6a;
$footlinkColor: #888888;
$cardPriceColor: #AFAFAF;
$drpDwnListColor: #737373;
$inputPlcHolder: #959595;
$bottomColor: #afafaf;
// =============================
// dark colors
$primaryColor: #1b1b1b;
$blackColor: #000000;
$stockborderColor: #2b2b2b;
$aboutUstitle: #0e0e0e;
$commentsColor: #4B4747;

// ===============================
// different colors
$swiperspanColor: #FF0000;
$shopnumberBgColor: #f34f3f;


// =================================









// colors end =================


// font sizes ===================

$primarySize: 12px;
$secondarySize: 17px;
$h1Size: 50px;
$h2Size: 38px;

// different font  size
$fsize_10: 10px;
$fsize_15: 15px;
$fsize_18: 18px;
$fsize_22: 22px;
$fsize_24: 24px;
$fsize_30: 30px;
$fsize_60: 60px;



// font weits
$fw_500: 500;
$fw_400: 400;
$fw_300: 300;


// line heights

$h1_lineheight: 66px;
$h2_lineheight: 55px;

// different line heights 
$lh_10: 10px;
$lh_12: 12px;
$lh_24: 24px;
$lh_22: 22px;
$lh_27: 27px;
$lh_29: 29px;
$lh_30: 30px;
$lh_36: 36px;
$lh_42: 42px;
$lh_60: 60px;
$lh_70: 70px;





// letter spacing
$ls_normal: 1.2px;
$ls_large: 1.5px;